.Ftghting_bg {
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 1300px;
    margin: auto;
    padding-bottom: 0;

    .img_bg {
        display: block;
        left: 0px;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
        object-fit: contain;

    }

    .layout_moster {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 596px;
        height: 634px;
        z-index: 10;

        .img_monster {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 596px;
            height: 634px;
        }

        .sum_layout {
            position: absolute;
            left: 12px;
            top: 62px;
            width: 324.82px;
            height: auto;

            .img {
                left: 0;
                top: 0;
                position: absolute;
                width: 324.82px;
                height: 126.72px;
            }

            .img_getting {
                left: 9px;
                top: -3px;
                position: absolute;
                width: 212px;
                height: 31px;
            }

            .txt_getting {
                left: 30px;
                top: 1px;
                position: absolute;
                font-size: 16px;
                font-family: Teko-Bold, Teko;
                font-weight: bold;
                color: #FFFFFF;
                line-height: 23px;
                -webkit-transform: rotateZ(-3deg);
                transform: rotateZ(-3deg);
            }

            .hot_layout {
                position: absolute;
                top: -7px;
                right: 9px;
                width: 75px;
                height: 44px;

                .hot {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 75px;
                    height: 44px;
                }

                .txt_hot {
                    left: 13px;
                    position: absolute;
                    font-size: 28px;
                    font-family: Teko-Bold, Teko;
                    font-weight: bold;
                    color: #FFE400;
                    line-height: 40px;
                }

            }

            .txt_reword_coint {
                left: 50px;
                top: 25px;
                position: absolute;
                width: 204px;
                height: 86px;
                font-size: 60px;
                font-family: Teko-Bold, Teko;
                font-weight: bold;
                color: #5FFF00;
                text-stroke: 5px rgb(0, 0, 0);
                -webkit-text-stroke: 5px rgb(0, 0, 0);
                text-shadow: 5px 5px 5px #000, 5px 0px 5px #000;
                line-height: 86px;
            }
        }

        .number_layout {
            top: -51px;
            right: 0;
            position: absolute;
            width: 102px;
            height: 104px;
            display: flex;
            flex-direction: column;


            .img {
                left: 0;
                top: 0;
                position: absolute;
                width: 102px;
                height: 104px;
            }

            .title_number {
                top: 10px;
                position: relative;
                font-size: 18px;
                font-family: Teko-Regular, Teko;
                font-weight: 400;
                color: #FFFFFF;
                line-height: 34px;

            }

            .txt_number {
                top: 5px;
                position: relative;
                font-size: 37px;
                font-family: Teko-Regular, Teko;
                font-weight: 400;
                color: #FFFFFF;
                line-height: 34px;

            }
        }
    }


    .head {
        position: absolute;
        top: 0;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;


        .head_bg {
            left: 0;
            top: 0;
            position: absolute;
            width: 100%;
            height: auto;
        }

        .logo {
            width: 235px;
            height: auto;
            z-index: 1;
        }

        .layout {
            width: auto;
            height: auto;
            display: flex;
            flex-direction: row;
            margin-right: 31px;
            margin-left: 10px;


            .btn_layout {
                width: auto;
                height: auto;
                position: relative;
                cursor: pointer;
                &:hover{
                    transform: scale(1.1);
                }

                .txt {
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    margin: auto;
                    position: absolute;
                    width: auto;
                    height: auto;
                    font-size: 24px;
                    font-family: Teko-Bold, Teko;
                    font-weight: bold;
                    color: #FFFFFF;
                    line-height: 74px;
                    text-align: center;
                }

                .img {
                    width: 200px;
                    height: auto;
                }

            }

            .wallet {
                position: relative;
                width: auto;
                height: auto;
                cursor: pointer;
                margin-top: 20px;

                .wallet_bg {
                    width: 228px;
                    height: auto;
                }

                .wallet_layout {
                    top: 0;
                    left: 12px;
                    position: absolute;
                    width: auto;
                    height: auto;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    .icon {
                        width: 30px;
                        height: 30px;
                    }

                    .txt {
                        margin-top: 4px;
                        margin-left: 10px;
                        font-size: 20px;
                        font-family: Teko-Regular, Teko;
                        font-weight: 400;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }

    .left {
        position: absolute;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        top: 127px;
        left: 28px;

        .info_layout {
            width: 362px;
            height: 90px;
            background-image: url(../../asset/image/ftghting/img_ftghting_info_bg.png);
            display: flex;
            flex-direction: row;

            .info_head {
                width: 90px;
                height: 90px;
                padding: 5px;
                background: #FFFFFF;
                border-radius: 30px;
                box-sizing: border-box;
            }

            .info_content {
                margin-left: 14px;
                width: auto;
                height: auto;
                display: flex;
                flex-direction: column;

                .name {
                    margin-top: 10px;
                    font-size: 32px;
                    font-family: Teko-Bold, Teko;
                    font-weight: bold;
                    color: #FFFFFF;
                    text-align: left;
                }

                .address {
                    font-size: 18px;
                    font-family: Teko-Bold, Teko;
                    font-weight: bold;
                    color: #FFFFFF;
                }
            }
        }

        .assets_layout {
            margin-top: 41px;
            position: relative;
            width: 363px;
            height: 95px;

            .img {
                left: 0px;
                position: absolute;
                width: 363px;
                height: 95px;
            }

            .txt {
                left: 20px;
                top: 20px;
                position: absolute;
                font-size: 24px;
                font-family: Teko-Bold, Teko;
                font-weight: bold;
                color: #000000;
                line-height: 34px;
            }

            .title {
                left: 20px;
                top: -26px;
                position: absolute;
                font-size: 38px;
                font-family: Teko-Bold, Teko;
                font-weight: bold;
                color: #FFFFFF;
                line-height: 54px;

            }

            .increase {
                position: absolute;
                top: 19px;
                right: 19px;
                width: 30px;
                height: 30px;
            }
        }

        .monster_info {
            margin-top: 41px;
            position: relative;
            width: 317px;
            height: 84px;
            display: flex;
            flex-direction: column;

            .img {
                left: 0px;
                position: absolute;
                width: 317px;
                height: 84px;
            }

            .title {
                margin-left: 20px;
                margin-top: 10px;
                font-size: 18px;
                font-family: Teko-Bold, Teko;
                font-weight: bold;
                color: #000000;
                z-index: 1;
                text-align: left;
            }

            .content {
                margin-top: -10px;
                margin-left: 20px;
                font-size: 30px;
                font-family: Teko-Bold, Teko;
                font-weight: bold;
                color: #000000;
                z-index: 1;
                text-align: left;
            }

            .monster_icon {
                position: absolute;
                right: 10px;
                bottom: -17px;
                width: 76px;
                height: 76px;
            }
        }

        .desc {
            margin-top: 33px;
            margin-left: 20px;
            width: 253px;
            font-size: 18px;
            font-family: Teko-Medium, Teko;
            font-weight: 500;
            color: #000000;
            line-height: 22px;
            text-align: left;

        }
    }

    .bottom_group_btn {
        position: absolute;
        bottom: 64px;
        margin: auto;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        z-index: 10;

        .btn_layout {
            position: relative;
            width: 172px;
            height: 214px;
            cursor: pointer;

            .img {
                position: absolute;
                left: 0;
                top: 0;
                width: 172px;
                height: 214px;
                z-index: 1;
            }

            .title {
                position: absolute;
                bottom: -36px;
                left: -10px;
                right:0;
                margin: auto;
                font-size: 50px;
                font-family: Teko-Bold, Teko;
                font-weight: bold;
                color: #FFFFFF;
                line-height: 72px;

            }
            &:hover{
                transform: scale(1.1);
            }

        }

        .btn_onehit {
            cursor: pointer;
            margin-top: 22px;
            margin-left: 64px;
            position: relative;
            width: 254px;
            height: 151px;

            .img {
                left: 0;
                top: 0;
                position: absolute;
                width: 254px;
                height: 151px;
            }

            .txt {
                left: 38px;
                top: 30px;
                position: absolute;
                font-size: 60px;
                font-family: Teko-Bold, Teko;
                font-weight: bold;
                color: #000000;
                line-height: 86px;
                -webkit-transform: rotateZ(-4deg);
                transform: rotateZ(-4deg);
            }
            &:hover{
                transform: scale(1.1);
            }
        }

        .btn_upgrade {
            cursor: pointer;
            margin-top: 35px;
            margin-left: 13px;
            position: relative;
            width: 160px;
            height: 97px;

            .img {
                left: 0;
                top: 0;
                position: absolute;
                width: 160px;
                height: 97px;
            }

            .txt {
                left: 33px;
                top: 25px;
                position: absolute;
                font-size: 28px;
                font-family: Teko-Bold, Teko;
                font-weight: bold;
                color: #000000;
                line-height: 40px;
                -webkit-transform: rotateZ(-4deg);
                transform: rotateZ(-4deg);
            }
            &:hover{
                transform: scale(1.1);
            }
        }

        .left_37 {
            margin-left: 37px;
        }

    }

    .bttom_bg {
        left: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        position: absolute;
    }

    .weapons {
        position: absolute;
        bottom: 0;
        right: 160px;
        width: 358px;
        height: auto;
        z-index: 10;
    }

}